#what .items {
  display: block;
  padding: 1rem;
}

#steps .items {
  display: block;
  padding: 1rem;
}

/* align icon to the right */

#what .items .item{
  display: flex;
  text-align: left;
}

#steps .items .item{
  display: flex;
  text-align: left;
}

/* position icon */

#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

#steps .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* smartphones */

@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: .5rem;
    text-align: center;
  }

  #navbar ul {
    display: none;
    /* padding: .5rem; */
  }


  /* hamburger menu  */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  
  
  .menu-wrap .hamburger {
    position: absolute ;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  /* hamburger line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  
  
  
  /* hamburger lines - top and bottom */
  .menu-wrap .hamburger > div:before, 
  .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  
  
  
  /* moves line down */
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }
  
  
  
  
  
  /* toggler animation */
  
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  
  }
  
  
  
  
  /* turns lines into x */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after 
  {
    top: 0;
    transform: rotate(90deg);
  }
  
  
  
  
  /* rotate on hover when checked. */
  
  .menu-wrap .toggler:checked:hover + .hamburger > div 
  {
    transform: rotate(225deg);
  }
  
  
  
  
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div ul > li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  .menu-wrap .menu > div > div ul > li a:hover {
    color: var(--secondary-color);
  }
/* end */








  #showcase .showcase-content {
    top: 110px;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;    
    }

  #contact .map {
    height: 200px;
    border-top: 4px solid #333;
  }
}

@media(max-height 568px) {
  #showcase .showcase-content {
    margin-top: -2rem;
    top: 130px;
  }

  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }


}